<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="../../../assets/taj-maha.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Taj Mahal</h5>
              <p class="card-text">Mausoleo construido por el emperador mogol Sha Jahan en honor a su esposa preferida, Mumtaz Mahal.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../../../assets/colosseum-g8dc54cfe5_1920.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Coliseo</h5>
              <p class="card-text">El Coliseo albergó espectáculos como las venationes (peleas de animales) o los noxii (ejecuciones de prisioneros por animales), así como las munera: peleas de gladiadores.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../../../assets/architecture-g58e934422_1920.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Torre Eiffel</h5>
              <p class="card-text">Gracias a su altura y a su silueta única a nivel mundial en el paisaje parisino, la Torre Eiffel se convirtió rápidamente en una de las atracciones más populares de París..</p>
            </div>
          </div>
        </div>
    </div>
</div>