<div class="container">

    <div class="row">
        <div class="col">
            <h1>Nuevo estudiante</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form [formGroup]="form" class="form-floating" (ngSubmit)="submitForm()">
                <div class="row g-2">
                    <div class="col-md">
                        <div class="input-group mb-3">
                            <input type="text" [ngClass]="{'form-control': true, 'is-invalid': form.get('name')?.errors && form.get('name')?.touched}" formControlName="name" placeholder="Nombre" aria-label="name" aria-describedby="basic-addon1">
                            <div class="invalid-feedback">
                                <small *ngIf="form.get('name')?.errors?.['required'] && form.get('name')?.touched">El campo es requerido</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="input-group mb-3">
                            <input type="text" [ngClass]="{'form-control': true, 'is-invalid': form.get('lastname')?.errors && form.get('lastname')?.touched}" formControlName="lastname" placeholder="Apellido" aria-label="lastname" aria-describedby="basic-addon1">
                            <div class="invalid-feedback">
                                <small *ngIf="form.get('lastname')?.errors?.['required'] && form.get('lastname')?.touched">El campo es requerido</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-md">
                        <div class="input-group mb-3">
                            <input type="text" oninput="this.value = this.value.replace(/[^0-9]/g,'').replace(/(\..*)\./g,'$1')" [ngClass]="{'form-control': true, 'is-invalid': form.get('cellPhoneNumber')?.errors && form.get('cellPhoneNumber')?.touched}" maxlength="10" formControlName="cellPhoneNumber" placeholder="Celular" aria-label="cellPhoneNumber" aria-describedby="basic-addon1">
                            <div class="invalid-feedback">
                                <small *ngIf="form.get('cellPhoneNumber')?.errors?.['minlenght'] && form.get('cellPhoneNumber')?.touched">">El numero de celular debe ser de 10 digitos</small>
                                <small *ngIf="form.get('cellPhoneNumber')?.errors?.['maxlenght'] && form.get('cellPhoneNumber')?.touched">">El numero de celular debe ser de 10 digitos</small>
                                <small *ngIf="form.get('cellPhoneNumber')?.errors?.['required'] && form.get('cellPhoneNumber')?.touched">El campo es requerido</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="input-group mb-3">
                            <input type="text" [ngClass]="{'form-control': true, 'is-invalid': form.get('username')?.errors && form.get('username')?.touched}" formControlName="username" placeholder="Usuario" aria-label="Username" aria-describedby="basic-addon1">
                            <div class="invalid-feedback">
                                <small *ngIf="form.get('username')?.errors?.['required'] && form.get('username')?.touched">El campo es requerido</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="input-group mb-3">
                            <input type="password" [ngClass]="{'form-control': true, 'is-invalid': form.get('password')?.errors && form.get('password')?.touched}" formControlName="password" placeholder="Contraseña" aria-label="Password" aria-describedby="basic-addon1">
                            <div class="invalid-feedback">
                                <small *ngIf="form.get('password')?.errors?.['required'] && form.get('password')?.touched">El campo es requerido</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row g-2">
                    <div class="col-md">
                        <div class="input-group mb-3">
                            <input type="number" [ngClass]="{'form-control': true, 'is-invalid': form.get('age')?.errors && form.get('age')?.touched}" formControlName="age" placeholder="Edad" aria-label="age" aria-describedby="basic-addon1">
                            <div class="invalid-feedback">
                                <small *ngIf="form.get('age')?.errors?.['required'] && form.get('age')?.touched">El campo es requerido</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md" formArrayName="languagePrefer">
                        <div *ngFor="let habilidad of languagePrefer.controls; let i = index">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" formControlName="{{ i }}" placeholder="Lenjuaje preferido" aria-label="Habilidad" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="row">       
                        <div class="col-md">
                            <button class="btn btn-primary" type="submit" [disabled]="!form.valid" >Enviar datos</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>